<%= hidden_field_tag "movies", @movies %>
<div id="movie-header" class="row"></div>
<div id="outcloud" class="row" style="height:800px">
  <div id="example" class="large-10 columns">
  </div>
  <div id="example2" class="large-2 columns">
    blah
  </div>
</div>
