<%= hidden_field_tag "movies", @movies %>
<div id="movie-header-row" class="row">
  <div id="movie-header" class="large-12 columns"></div>
</div>
<div id="outcloud" class="row" style="height:500px">
</div>
