<%= hidden_field_tag "movies", @movies %>
<div id="movie-header-row">
  <div id="movie-header"></div>
</div>
<span class="prev">&lt;</span>
<span class="next">&gt;</span>
<div id="movie-data" class="row"></div>
<div id="outcloud" class="row"></div>
