// Place all the styles related to the wordcloud controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bodybg {
	background-color:#EEEEEE;
}

.navbg {
	background-color:#3EB5C9;
}

.menubg {
	background-color:#F2CCA9
}

.wccontent {
	height:300px;
	//max-width:300px;
}

.wctitle {
	//height:75px;
}

.wcrow {
	background-color:#F2F2F2;
}

.wcli {
	outline: 0px solid #F2F2F2;
	background-color:white;
	padding:0px;

}

.wcul {
	//max-width:600px;
}

.wcimg {
	padding:0px;
}

.ex {
	background-color:#0E1A34;
}

a {
	color:#000000
}

img:hover
{
  border-bottom: 3px solid #00f;
  outline: 3px solid black;
}

p {
	size:12px;
	color:#000000;
}


